

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(315deg, #C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;

  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  border-radius: .6rem;
  background: #FFF;
  box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.10);
  padding: 4.8rem 6.4rem 6.4rem;

  width: min(42.8rem, 90%);
  margin-top: -12rem;
}

/*screen1*/


h1 {
  font-family: 'Montserrat' , sans-serif;
  color: #34355B;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

p {
  font-family: 'DM Sans' , sans-serif;
  color: rgba(52, 53, 91, 0.80);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input, button {
  border: none;
  padding: 1.6rem;
  font-family: 'DM Sans' , sans-serif;
}

input {
  background-color: #DCE2E9;
  font-size: 1.6rem;
  font-weight: 400;
  width: 5rem;

  border-radius:  .4rem 0 0 .4rem ;

  outline: 0;
}

button {
  background-color:  #7879F1;
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFF;

  border-radius: 0 .4rem .4rem 0;

  cursor: pointer;
  transition: background .3s;
}

button:hover {
  background-color:  #5d5dd4;
}

/*screen2*/

.screen2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.3rem
}

.screen2 h2 {
  color: #34355B;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 150%;
}

.screen2 button {
  width: min(17rem, 90%);
  border-radius: .4rem;
}

.hide {
  display: none;
}
